<h2><%= @cocktail.name %></h2>

<ul>
  <% @cocktail.doses.each do |dose| %>
    <li><%= dose.ingredient.name %>, <%= dose.description %>  <%= link_to "delete", cocktail_dose_path(@cocktail, dose), method: :delete %></li>
  <% end %>
</ul>


<p><%= button_to "add an ingredient", new_cocktail_dose_path(@cocktail), method: :get,class: 'btn btn-primary' %></p>

<p><%= button_to "return to the list", cocktails_path, method: :get,class: 'btn btn-primary' %></p>

