<h2><%= @cocktail.name %> </h2>


<% if @cocktail.photo.present? %>
  <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
<% else %>
  <%= cl_image_tag("kuotnmzjiejai1sorowc.jpg", width: 400, :crop=>"scale") %>
<% end %>

<ul>
  <% @cocktail.doses.each do |dose| %>
    <li><%= dose.ingredient.name %>, <%= dose.description %>  <%= link_to "delete", cocktail_dose_path(@cocktail, dose), method: :delete %></li>
  <% end %>
</ul>


<p><%= button_to "add an ingredient", new_cocktail_dose_path(@cocktail), method: :get,class: 'btn btn-primary' %></p>



